@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<MButton Color="primary" OnClick="IncrementCount">Click me</MButton>
<MButton Color="primary" OnClick="ToHome">To Home</MButton>
<MButton Color="primary" OnClick="ToWeather">To Weather</MButton>

@inject NavigationManager NavigationManager
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ToHome()
    {
        NavigationManager.NavigateTo("./");
    }

    private void ToWeather()
    {
        NavigationManager.NavigateTo("./weather");
    }
}
